/* Styles */

.main{
    width:100%;
    height:1500px;
    display: flex;
    margin:0 auto;
    background-color: lightgrey;
}

/* header */

header{
    width:100%;
    height:100px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items:center;
}

.logo{
    font-size:42px;
    font-weight:bold;
    color:darkorange;
    text-shadow: 1px 1px 3px darkred;
    display:flex;
    align-items:center;
}
        
 .logo img{
    margin-left:30px;
    margin-right:20px;
    width:9%;
 }


 .header_search{
    height:40px;
    display:flex;
    align-items:center;
    margin-right:40px;
}


.header_search:hover{
    cursor: pointer;
    box-shadow: 5px 5px 5px lightgrey;
}



#search_btn{
    padding-right:30px;
    border:none;
    background-color: white;
    text-align:left;
    margin-right:20px;
    color:darkgray;
    font-weight: bold;
    font-size:18px;
}

.header_search img{
    position: absolute;
    margin-left: 70px;
    margin-top: 0px;
    z-index: 1;
    width:2%;
}


#search_btn:hover{
    cursor:pointer;
    color:black;
}